.clearfix {
    &:before {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }
}

.text {
    font-size: convertToMainUnit(16);
}

.success {
    &.button {
        background-color: #0A0;       
    }

    &.text {
        color: #0A0;       
    }
}

.error {
    &.button {
        background-color: #A00;       
    }

    &.text {
        color: #A00;       
    }
}