// UNITS
$pixleUnit: px;
$remUnit: rem;
$percentUnit: %;

// CUSTOM FONT
$robotoRegular: 'Roboto-Regular';

// DEFAULT FONT
$mainUnit: $remUnit !default;
$mainSize: 10 !default;

$defaultFontStack: #{$robotoRegular}, 'Calibri', 'Arial', sans-serif;
$defaultTextColor: #000;

// PREDEFINED
$headerTopBarHeight: 64;
$navigationExpanded: 256;
$navigationCollapsed: 64;

// DEFAULT COLORS
$white: #FFF;
$whiteDark: #EEE;
$greyDark: #666;

// PREDEFINED COLORS
$baseColorDark: $greyDark;
$baseColorMed: $whiteDark;
$baseColorLight: $white;

// BACKGROUNDS
$focusBackground: inherit;
$focusColor: inherit;

// PATHS
$baseDir: '/';
$fontsDir: '#{$baseDir}fonts/';
$imagesDir: '#{$baseDir}img/';