#layout-content {
    height: calc(100vh - #{convertToMainUnit($headerTopBarHeight)});
    padding: convertToMainUnit(20);
    overflow: auto;

    .content {
        background-color: $baseColorMed;
    }

    .title {
        font-size: convertToMainUnit(20);
        text-transform: capitalize;
    }
}