#layout-content {
    min-height: 100vh;
    padding: convertToMainUnit(20);

    .content {
        background-color: $base-color-med;
    }

    .title {
        font-size: convertToMainUnit(20);
        text-transform: capitalize;
    }
}