#layout-footer {
    position: fixed;
    bottom: -100%;
    width: 0;
    height: 0;
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    color: transparent;
    background-color: transparent;
}