#layout-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding-left: convertToMainUnit($navigationCollapsed);
    line-height: convertToMainUnit($headerTopBarHeight);
    max-height: convertToMainUnit($headerTopBarHeight);
    background-color: $white;

    .app-name {
        color: $base-color-dark;
    }

    .top-bar {
        position: relative;
    }

    .top-bar-right {
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
            .top-bar-item {
                &.active {
                    background-color: transparent;

                    &:before {
                        color: $base-color-dark;
                    }
                }
            }
        }

        li {
            display: inline-block;
        }
    }

    .top-bar-item {
        @extend .navigation-item-link;

        font-size: 18px;
        padding: 0 convertToMainUnit(15);

        &:before {
            margin-left: 0;
            font-size: 28px;
        }
    }
}