#layout-navigation {
    position: fixed;
    top: convertToMainUnit(headerTopBarHeight);
    left: 0;
    background-color: $white;
    height: 100vh;
    transition: width .5s 0s;
    font-size: 0;
    box-shadow: 0 0 convertToMainUnit(1) $black;
}

.navigation-items {
    list-style-type: none;
    text-align: left;

    &:hover {
        .navigation-item-link {
            &.active {
                background-color: transparent;
                color: $baseColorDark;

                &:before {
                    color: $baseColorDark;
                }
            }
        }
    }
}
    
.navigation-item-link {
    display: block;
    padding: convertToMainUnit(22.5) convertToMainUnit(15.5);
    text-decoration: none;
    color: $baseColorDark;
    background-color: transparent;
    transition: all .5s 0s;

    &.active {
        color: $baseColorLight;
        background-color: $baseColorDark;
        transition: all .5s 0s;
        
        &:before {
            color: $baseColorLight;
        }
    }

    &:before {
        @extend .material-icons;
        
        content: attr(data-icon);
        display: inline-block;
        margin-left: convertToMainUnit(-5);
        font-size: convertToMainUnit(38);
        color: $baseColorDark;
        vertical-align: middle;
        line-height: .5;
    }

    // TODO: remove important
    &:hover, {
        color: $baseColorLight!important;
        background-color: $baseColorDark!important;
        transition: all .5s 0s!important;
        
        &:before {
            color: $baseColorLight!important;
        }
    }
}