doctype html
html#root
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Developer Scope
        link(rel="stylesheet", href="/css/style.css")
    body#layout(class=`${locals.currentUser ? `${locals.currentUser.settings.layout.type} ${locals.currentUser.settings.layout.theme}` : 'expanded'}`)
        header#layout-header
            include header
            
        nav#layout-navigation
            include navigation

        main#layout-content
            .content.main-content
                if (globalMessages && globalMessages.length)
                    .global-message
                        each message in globalMessages
                            p.text.error=message

                block mainContent
        
        footer#layout-footer
            p copyright 2016