.button {
    color: $white;
    background-color: $base-color-dark;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: capitalize;
    
    &.success {
        background-color: #0A0;       
    }
}