extends ../layout/index
block mainContent
    h2 !{mainTitle}

    p MainContent

    form.form(method='POST' action='/user/login')
        .form-input
            label(for='login-username') Username
            input(type='text' id="login-username" name='username' value=username placeholder='Username')
        
        .form-input
            label(for='login-password') Password
            input(type='password' id='login-password' name='password' placeholder='Password')
        
        .form-input
            input.button.success(type='submit' value='Login now')