extends ../layout/index
block mainContent
    section
        h2.title !{mainTitle}

        form.form(method='POST' action='/user/profile')
            //- NAME
            article.page-article
                h2.title.left Change Name

                .form-input
                    label(for='name') Name
                    input(type="text" id="name" name='name' value=name placeholder='Name' required)
            //- EMAIL
            article.page-article
                h2.title.left Change Email

                .form-input
                    label(for='email') Email
                    input(type="email" id="email" name='email' value=email placeholder='Email' required)

            //- PASSWORD
            article.page-article
                h2.title.left Change Password

                .form-input
                    label(for='old-password') Old Password
                    input(type="password" id="old-password" placeholder='Old Password' name='oldPassword')

                .form-input
                    label(for='new-password') New Password
                    input(type="password" id="new-password" placeholder='New Password' name='password')
                
                //- SUBMIT
                .form-input
                    input(type='submit' class='button success' value='Save')
                    input(type='hidden' name='_csrf' value=csrfToken)