extends ../layout/index
block mainContent
    section
        //- MAIN
        h2.title !{mainTitle}

        //- PROFILE FORM
        form.form(method='POST' action='/user/profile')
            //- NAME
            article.page-article
                h2.title.left Change Name

                .form-input
                    label(for='name') Name
                    input(type="text" id="name" name='name' value=name placeholder='Name' required pattern=".{3,}" title="Name must be altleast 3 characters long")
            //- EMAIL
            article.page-article
                h2.title.left Change Email

                .form-input
                    label(for='email') Email
                    input(type="email" id="email" name='email' value=email placeholder='Email' required)
            //- PASSWORD
            article.page-article
                h2.title.left Change Password

                .form-input
                    label(for='old-password') Old Password
                    input(type="password" id="old-password" placeholder='Old Password' name='oldPassword' value='' pattern=".{6,}" title="Password must be altleast 6 characters long")

                .form-input
                    label(for='new-password') New Password
                    input(type="password" id="new-password" placeholder='New Password' name='password' value='' pattern=".{6,}" title="Password must be altleast 6 characters long")
                
                .form-input
                    label(for='confirm-new-password') Confirm New Password
                    input(type="password" id="confirm-new-password" placeholder='Confirm New Password' name='confirmPassword' value='' pattern=".{6,}" title="Confirm Password must be altleast 6 characters long")
               
                //- SUBMIT
                .form-input
                    input(type='submit' class='button success' value='Save')
                    input(type='hidden' name='_csrf' value=csrfToken)