extends ../layout/index
block mainContent
    h2.title !{mainTitle}

    p MainContent

    form.form(action='/user/settings', method='post')
        //- LAYOUT
        .article.page-article
            h2.title.left Layout
            //- TYPE
            .form-input
                label(for='layout-type') Type

                select(id='layout-type' name='layoutType')
                    option(value='expanded' selected=user.settings.layout.type=='expanded') Expanded
                    option(value='collapsed' selected=user.settings.layout.type=='collapsed') Collapsed
            //- THEME
            .form-input
                label(for='layout-theme') Theme

                select(id='layout-theme' name='layoutTheme')
                    option(value='') Default
                    option(value='dark') Dark
        //- SUBMIT
        .form-input
            input.button.success(type='submit' value='Save')